$color1: linear-gradient(90deg, rgba(144,186,173,1) 0%, rgba(93,140,79,1) 100%);
$color2: linear-gradient(90deg, rgba(93,140,79,1) 0%, rgba(66,110,74,1) 100%);
$color3: linear-gradient(90deg, rgba(66,110,74,1) 0%, rgba(144,186,173,1) 100%);
$gitcolor: #D1E3DB;
